<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
    <ion-list>
      <!-- Username input -->
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input
          inputmode="text"
          #userName="ngModel"
          required="true"
          name="userName"
          [(ngModel)]="authRequest.userName"
        ></ion-input>
      </ion-item>
  
      <!-- Error message displayed if the userName is invalid -->
      <ion-item lines="none" *ngIf="userName.invalid && userName.touched">
        <ion-text color="danger">Username is required.</ion-text>
      </ion-item>
  
      <!-- Password input -->
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          inputmode="text"
          #password="ngModel"
          required="true"
          type="password"
          name="password"
          [(ngModel)]="authRequest.password"
        ></ion-input>
      </ion-item>
  
      <!-- Error message displayed if the password is invalid -->
      <ion-item lines="none" *ngIf="password.invalid && password.touched">
        <ion-text color="danger">Password is required.</ion-text>
      </ion-item>
    </ion-list>
  
    <div class="ion-padding">
      <!-- Submit button -->
      <ion-button type="submit" expand="block" [disabled]="loginForm.invalid"
        >Log in</ion-button
      >
  
      <!-- Error message displayed if the login failed -->
      <ion-text color="danger" *ngIf="loginError"
        >Username or password is invalid.</ion-text
      >
    </div>
  </form>
</ion-content>
