<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
    <ion-list>
      <!-- Username input -->
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input inputmode="text" #userName="ngModel" required="true" name="userName"
          [(ngModel)]="authRequest.userName"></ion-input>
        <ion-note slot="error" *ngIf="userName.invalid && userName.touched">Username is required</ion-note>
      </ion-item>

      <!-- Password input -->
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input inputmode="text" #password="ngModel" required="true" type="password" name="password"
          [(ngModel)]="authRequest.password"></ion-input>
        <ion-note slot="error" *ngIf="password.invalid && password.touched">Password is required</ion-note>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <!-- Submit button -->
      <ion-button type="submit" expand="block" [disabled]="loginForm.invalid">Log in</ion-button>
      <ion-note class="loginError" color="danger" slot="error" *ngIf="loginError">Username of password is invalid</ion-note>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-label>Don't have an account yet?</ion-label>
  <ion-button fill="clear">SIGNUP</ion-button>
</ion-footer>