.map {
    height: 100%;
}

.searchbar {
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-searchbar {
    width: 80%;
    opacity: 90%;
    margin-top: 10px;
}

.searchlist {
    width: 80%;
}

.listButton {
    width: 60px;
    height: 30px;
    font-size: 12px;
    position: absolute;
    top: 100%;
    right: 0;
    transform: translate(-15px, -60px);
    z-index: 1000;
}

ion-card-title {
    font-size: 14px;
}

ion-card-subtitle {
    font-size: 12px;
}

ion-card-content {
    font-size: 12px;
}

.categoryIcon {
    margin-left: 3px;
    height: 25px;
    width: 25px;
}

.categoryText {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 2px;
}

.card-text {
    display: flex;
    justify-content: space-between;
}

.card-buttons {
    width: 50px;
}