<ion-header>
</ion-header>

<ion-content>
  <div class="map" leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)"
    [leafletLayers]="mapMarkers"></div>

  <div class="searchbar">
    <ion-searchbar color="primary" show-clear-button="focus" animated="true" placeholder="Search"
      (ionChange)="handleChange($event)" (ionFocus)="handleFocus()" (ionBlur)="handleBlur()"></ion-searchbar>
    <ion-list class="searchlist" *ngIf="focused">
      <ion-item button *ngFor="let result of resultsLimited">
        <ion-label>{{ result }}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-button class="listButton" (click)="toggleList()">
    <ion-icon name="list"></ion-icon>
  </ion-button>
  <ion-modal [isOpen]="listActive">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Liste des Spots</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="toggleList()">Fermer</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <!-- Spot cards -->
        <ion-card *ngFor="let spot of spots">
          <img class="miniature" alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <div class="card-text">
            <div>
              <ion-card-header>
                <ion-card-title>{{spot.name}}</ion-card-title>
                <div class="categoryContainer">
                  <span class="categoryText" *ngFor="let category of spot.category">
                    {{category}}
                    <img class="categoryIcon" src="assets/icon/spots/{{category}}.png">
                  </span>
                </div>
              </ion-card-header>
              <ion-card-content>
                {{spot.creationDate | date: 'dd.MM.yyyy'}}
              </ion-card-content>
            </div>

            <!-- More info button -->
            <div class="card-buttons">
              <ion-button id={{spot._id}} fill="clear" (click)="showSpot($event)">
                <ion-icon class="infoIcon" name="information-circle-outline"></ion-icon>
              </ion-button>
            </div>

          </div>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>