.map {
    height: 100%;
}

.searchbar {
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-searchbar {
    width: 80%;
    opacity: 90%;
    margin-top: 10px;
}

.searchlist {
    width: 80%;
}

.listButton {
    width: 60px;
    height: 30px;
    font-size: 12px;
    position: absolute;
    top: 100%;
    right: 0;
    transform: translate(-15px, -60px);
    z-index: 1000;
}

ion-card-title {
    font-size: 14px;
}

ion-card-subtitle {
    font-size: 12px;
}

ion-card-content {
    font-size: 12px;
}

.categoryIcon {
    margin-left: 3px;
    height: 25px;
    width: 25px;
}

.categoryText {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 2px;
    background-color: lightgray;
    color: black;
    border-radius: 20px;
    padding: 5px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 250px;
}

.photoSpot {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.detailsText {
    font-size: 14px;
}

.detailsContainer {
    margin-left: 20px;
}

.descriptionDetails {
    margin: 20px;
    font-size: 13px;
}

.labelDetails {
    font-size: 12px;
    color: #737373;
    margin-left: 20px;
    margin-right: 20px;
}

.detailHeader {
    padding-bottom: 20px;
}

.detailsTrick {
    display: flex;
    flex-direction: row;
    height: 150px;
    align-items: center;
}


.detailsTrick .miniature {
    width: 100px;
    height: 100px;
    margin-left: 25px;
}

.detailsTrick .card-text {
    height: 80%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.deleteIcon {
    color: #b23b3b;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.card-content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.more {
    width: 100%;
}

ion-modal .map {
    width: 100%;
    height: 200px;
}

//Don't change the color of the label when selected AND when incorrect
ion-item.item-has-focus ion-label, ion-item.ion-invalid ion-label {
    color: black !important;
}

.ion-padding {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modifSpotIcon {
    color: #A9957B;
}