<ion-header>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-title>Ajouter un Tricks</ion-title>
  </ion-toolbar>
  <form #trickForm="ngForm" (submit)="onSubmit(trickForm)">
    <ion-list>
      <!-- User input -->
      <ion-item>
        <ion-label position="floating">Utilisateur</ion-label>
        <ion-input inputmode="text" required="true" name="userName" [readonly]="true"
          value=@{{user.userName}}></ion-input>
      </ion-item>

      <!-- Spot input -->
      <ion-item>
        <ion-label position="floating">Spot</ion-label>
        <ion-select #spotId="ngModel" required="true" name="spotId" [(ngModel)]="trickRequest.spotId">
          <ion-select-option *ngFor="let spot of spots" [value]="spot.name">
            {{spot.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Tricks name input -->
      <ion-item counter="true">
        <ion-label position="floating">Nom</ion-label>
        <ion-input inputmode="text" #name="ngModel" required="true" name="name" [(ngModel)]="trickRequest.name"
          maxlength="30"></ion-input>
        <ion-note slot="error" *ngIf="name.invalid && name.touched">Nom nécessaire</ion-note>
      </ion-item>

      <!-- Video input -->
      <ion-item>
        <ion-button class="videoButton" fill="clear" (click)="takeVideo()">Prendre une vidéo</ion-button>
        <img *ngIf="video" [src]="video.url"/>
        <ion-note slot="error" *ngIf="!video">Vidéo nécessaire</ion-note>
      </ion-item>

      <div class="ion-padding">
        <!-- Submit button -->
        <ion-button type="submit" [disabled]="trickForm.invalid">Ajouter le Tricks</ion-button>
        <ion-note class="trickError" color="danger" slot="error" *ngIf="trickError">Something wrong</ion-note>
      </div>
    </ion-list>
  </form>
</ion-content>