<ion-header class="ion-no-border">
  <ion-img class="logo" src="assets/icon/logo-base.png"></ion-img>
</ion-header>

<ion-content>
  <form #signupForm="ngForm" (submit)="onSubmit(signupForm)">
    <ion-list>
      <!-- Firstname input -->
      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input inputmode="text" #firstName="ngModel" required="true" name="firstName"
          [(ngModel)]="signupRequest.firstName"></ion-input>
        <ion-note slot="error" *ngIf="firstName.invalid && firstName.touched">Prénom nécessaire</ion-note>
      </ion-item>

      <!-- Lastname input -->
      <ion-item>
        <ion-label position="floating">Nom de famille</ion-label>
        <ion-input inputmode="text" #lastName="ngModel" required="true" name="lastName"
          [(ngModel)]="signupRequest.lastName"></ion-input>
        <ion-note slot="error" *ngIf="lastName.invalid && lastName.touched">Nom de famille nécessaire</ion-note>
      </ion-item>

      <!-- Username input -->
      <ion-item>
        <ion-label position="floating">Pseudo</ion-label>
        <ion-input inputmode="text" #userName="ngModel" required="true" name="userName"
          [(ngModel)]="signupRequest.userName"></ion-input>
        <ion-note slot="error" *ngIf="userName.invalid && userName.touched">Pseudo nécessaire</ion-note>
      </ion-item>

      <!-- Password input -->
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input inputmode="text" #password="ngModel" required="true" type="password" name="password"
          [(ngModel)]="signupRequest.password"></ion-input>
        <ion-note slot="error" *ngIf="password.invalid && password.touched">Mot de passe nécessaire</ion-note>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <!-- Submit button -->
      <ion-button type="submit" [disabled]="signupForm.invalid">Créer un compte</ion-button>
      <ion-note class="loginError" color="danger" slot="error" *ngIf="signupError">Des informations sont incorrectes</ion-note>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar class="signup-footer" color="primary">
    <ion-label class="signup-label">Vous avez déja un compte?</ion-label>
    <ion-buttons class="signup-button" slot="end">
      <ion-button [routerLink]="['/login']" fill="clear">CONNEXION</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>