<ion-header>
  <ion-toolbar>
    <!-- Logout button -->
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

    <!-- Profile image and user names -->
    <ion-item class="userInfo" lines="none">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label class="name">{{user.firstName}} {{user.lastName}}</ion-label>
        <ion-label class="username">@{{user.userName}}</ion-label>
      </ion-label>
    </ion-item>

</ion-header>

<ion-content>

</ion-content>