/////////////////////////////////////////////////// HEADER
.username {
    font-size: 12px;
}

ion-avatar {
    height: 100px;
    width: 100px;
}

ion-header {
    padding-bottom: 30px;
}

.userInfo {
    padding-left: 20px;
}

.logoutIcon {
    color: #b23b3b;
}

.modifProfileIcon {
    color: #A9957B;
}

///////////////////////////////////////////////// CONTENT
 
form {
margin-top: 50px;
}

ion-content ion-title {
    margin-top: 15px;
}

ion-card {
    display: flex;
    flex-direction: row;
    height: 150px;
    align-items: center;
}

.card-text {
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

ion-card-header {
    padding-bottom: 0;
    padding-right: 0;
}

.miniature {
    width: 100px;
    height: 100px;
    margin-left: 25px;
}

ion-card-title {
    font-size: 14px;
}

ion-card-subtitle {
    font-size: 12px;
}

ion-card-content {
    font-size: 12px;
}

.categoryIcon {
    margin: 0;
    margin-left: 5px;
    margin-top: 2px;
    height: 15px;
    width: 15px;
}

.more {
    width: 100%;
}

.deleteIcon {
    color: #b23b3b;
}

.ion-padding {
    display: flex;
    flex-direction: column;
    align-items: center;
}