/////////////////////////////////////////////////// HEADER
.username {
    font-size: 12px;
}

ion-avatar {
    height: 100px;
    width: 100px;
}

ion-header {
    padding-bottom: 50px;
}

.userInfo {
    padding-left: 20px;
}